GUILD_ID="<GUILD_ID>"
DISCORD_TOKEN="<DISCORD_TOKEN>"
MONGODB_URI="mongodb://mongodb:27017/"
DBNAME="eruditus"
CHALLENGE_COLLECTION="challenge"
CTF_COLLECTION="ctf"
DATE_FORMAT="%a, %d %B %Y, %H:%M UTC"
CTFTIME_URL="https://ctftime.org"
WRITEUP_INDEX_API="http://ctf-api.hfz-1337.ninja"
DEVELOPER_USER_ID="305076601253789697"
USER_AGENT="Eruditus"
MAX_CONTENT_SIZE="2000"

