#######################################################################################
############ These settings are only meant to be changed by the developer. ############
#######################################################################################
# MongoDB config.
MONGODB_URI="mongodb://mongodb:27017/"
CHALLENGE_COLLECTION="challenge"
CTF_COLLECTION="ctf"
DBNAME="eruditus"

# Use to send feature requests and bug reports to the developer.
DEVELOPER_USER_ID="305076601253789697"

# CTFtime settings.
DATE_FORMAT="%a, %d %B %Y, %H:%M UTC"
CTFTIME_URL="https://ctftime.org"
USER_AGENT="Eruditus"

# CTF Write-ups Search Index.
WRITEUP_INDEX_API="http://ctf-api.hfz-1337.ninja"

# Discord messages can't exceed a certain length.
MAX_CONTENT_SIZE="2000"

#######################################################################################
#################################### CHANGE THESE #####################################
#######################################################################################
GUILD_ID="<GUILD_ID>"
DISCORD_TOKEN="<DISCORD_TOKEN>"
TEAM_NAME="<TEAM_NAME>"
TEAM_EMAIL="<TEAM_EMAIL>"
MIN_PLAYERS="<MIN_PLAYERS>"

# Channel where the bot copies important messages (links, notes, etc.).
BOOKMARK_CHANNEL="<CHANNEL_ID>"

# (Optional) Text channel ID where the bot sends reminders.
# If this is not set, it defaults to #general, or the first world readable text channel
# it finds.
REMINDER_CHANNEL=""

# CTFtime team ID that would be used for activity tracking.
CTFTIME_TEAM_ID=""

# (Optional) CTFtime activity tracking channel ID.
# If this variable isn't set, the bot would just disable activity-tracking features
CTFTIME_TRACKING_CHANNEL=""

# (Optional) CTFtime leaderboard tracking channel ID.
# If this variable isn't set, the bot will not monitor leaderboard changes.
CTFTIME_LEADERBOARD_CHANNEL=""
